<div class="container">
  <label>{{ translations.search_label }}</label>
  <input
    type="text"
    [(ngModel)]="filterTable"
    placeholder="{{ translations.search_placeholder_user }}"
  />
  <button [routerLink]="['/bank-view']" [queryParams]="{ bankId: bankId }">
    {{ translations.transactions_button }}
  </button>
</div>
<table>
  <thead>
    <tr>
      <th>{{ translations.table_headers.first_name }}</th>
      <th>{{ translations.table_headers.last_name }}</th>
      <th>{{ translations.table_headers.email }}</th>
      <th>{{ translations.table_headers.phone }}</th>
      <th>{{ translations.table_headers.card_number }}</th>
      <th>{{ translations.table_headers.amount }}</th>
      <th>{{ translations.table_headers.registration_date }}</th>
      <th>{{ translations.table_headers.delete_account }}</th>
      <th>{{ translations.table_headers.block_card }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let user of filteredUsers"
      [ngClass]="{ 'blocked-card': isCardBlocked(user.cardNumber) }"
    >
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td
        (mouseenter)="showActualValue($event, user.cardNumber.toString())"
        (mouseleave)="hideActualValue()"
      >
        <ng-template [ngIf]="hoveredValue !== user.cardNumber.toString()">
          <span class="masked">******</span>
        </ng-template>
        <ng-template [ngIf]="hoveredValue === user.cardNumber.toString()">
          <span>{{ user.cardNumber }}</span>
        </ng-template>
      </td>
      <td
        (mouseenter)="showActualValue($event, user.amount.toString())"
        (mouseleave)="hideActualValue()"
      >
        <ng-template [ngIf]="hoveredValue !== user.amount.toString()">
          <span class="masked">******</span>
        </ng-template>
        <ng-template [ngIf]="hoveredValue === user.amount.toString()">
          <span>{{ user.amount.toFixed(2) }}</span>
        </ng-template>
      </td>
      <td>{{ user.registrationDate | date : "dd-MM-yyyy" }}</td>
      <td style="display: flex; justify-content: center; align-items: center">
        <svg
          id="Icons"
          viewBox="0 0 24 24"
          height="33px"
          (click)="showDeleteDiv(user.id)"
        >
          <path
            class="cls-1"
            d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm4.707,14.293a1,1,0,1,1-1.414,1.414L12,13.414,8.707,16.707a1,1,0,1,1-1.414-1.414L10.586,12,7.293,8.707A1,1,0,1,1,8.707,7.293L12,10.586l3.293-3.293a1,1,0,1,1,1.414,1.414L13.414,12Z"
            fill="red"
          />
        </svg>
      </td>
      <td>
        <div
          class="card-container"
          (mouseenter)="showMessage = isCardBlocked(user.cardNumber)"
          (mouseleave)="showMessage = false"
        >
          <img
            src="https://cdn1.iconfinder.com/data/icons/credit-card-action-3/24/credit_card_bank_error-512.png"
            alt="Credit card"
            class="card_photo"
            (mouseenter)="showMessage = isCardBlocked(user.cardNumber)"
            (mouseleave)="showMessage = false"
            (click)="!isCardBlocked(user.cardNumber) && showBlockDiv(user.id)"
          />
          <div class="message" *ngIf="showMessage">
            {{ translations.card_blocked_message }}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="confirm" *ngIf="isBlockDiv">
  <span>{{ translations.confirm_block_message }}</span>
  <div class="buttons">
    <button class="yes" (click)="blockCard()">
      {{ translations.confirm_block_button }}
    </button>
    <button class="cancel" (click)="cancelBlock()">
      {{ translations.cancel_block_button }}
    </button>
  </div>
</div>

<ng-container *ngIf="isBlock">
  <div class="deleteAccount">
    <p>{{ translations.card_blocked_success }}</p>
  </div>
</ng-container>

<div class="confirm" *ngIf="isDeleteDiv">
  <span>{{ translations.confirm_delete_message }}</span>
  <div>
    <input
      type="text"
      [(ngModel)]="deleteReason"
      placeholder="{{ translations.enter_delete_reason_placeholder }}"
    />
  </div>
  <div class="buttons">
    <button class="yes" (click)="deleteUser()">
      {{ translations.confirm_delete_button }}
    </button>
    <button class="cancel" (click)="cancelDelete()">
      {{ translations.cancel_delete_button }}
    </button>
  </div>
</div>

<ng-container *ngIf="isAccountDeleted">
  <div class="deleteAccount">
    <p>{{ translations.account_deleted_message }}</p>
  </div>
</ng-container>
