################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bankist_backend/.vs/API/FileContentIndex/451210fb-4f65-4dce-b59c-29c2214f1bfc.vsidx
