<app-bank-form
  [selectedBank]="selectedBank"
  *ngIf="modalOpen"
  (event)="closeModal()"
  (refresh)="getBanks()"
></app-bank-form>
<div class="container">
  <app-loader *ngIf="isLoading"></app-loader>
  <div class="selection" *ngIf="!isLoading">
    <div class="empty-wrapper" *ngIf="banks.length === 0">
      <p>{{ translations.no_new_bank_to_select }}</p>
    </div>
    <div class="bank-selection-wrapper" *ngIf="banks.length !== 0">
      <div class="bank-selection">
        <div class="bank" *ngFor="let bank of banks" (click)="selectBank(bank)">
          <div class="image-wrapper">
            <img [src]="bank.image" alt="" />
          </div>
          <p>{{ bank.name }}</p>
          <p>
            {{ translations.number_of_users.replace('{{ bank.numberOfUsers }}',
            bank.numberOfUsers) }}
          </p>
        </div>
      </div>
    </div>
    <button class="return" (click)="return()">{{ translations.return }}</button>
  </div>
</div>
