<div class="container">
  <div *ngIf="isSending"><app-loader></app-loader></div>
  <div
    class="registration-success"
    *ngIf="registrationSuccessful && !isSending"
  >
    <p class="text-success">{{ translations.registration_success }}</p>
    <button routerLink="../login">{{ translations.log_in }}</button>
  </div>
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isSending && !registrationSuccessful"
  >
    <div class="input">
      <label for="firstName">First Name</label>
      <div class="text-container">
        <input type="text" formControlName="firstName" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('firstName') &&
            registrationForm.get('firstName')!.touched
          "
        >
          {{ translations.first_name_error }}
        </div>
      </div>
    </div>

    <div class="input">
      <label for="lastName">Last Name</label>
      <div class="text-container">
        <input type="text" formControlName="lastName" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('lastName') &&
            registrationForm.get('lastName')!.touched
          "
        >
          {{ translations.last_name_error }}
        </div>
      </div>
    </div>

    <div class="input">
      <label for="email">Email Address</label>
      <div class="text-container">
        <input type="text" formControlName="email" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('email') && registrationForm.get('email')!.touched
          "
        >
          {{ translations.email_error }}
        </div>
      </div>
    </div>

    <div class="input">
      <label for="username">Username</label>
      <div class="text-container">
        <input type="text" formControlName="username" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('username') &&
            registrationForm.get('username')!.touched
          "
        >
          {{ translations.username_required }}
        </div>
      </div>
    </div>

    <div class="input">
      <label for="password">Password</label>
      <div class="text-container">
        <input
          type="password"
          formControlName="password"
          class="form-control"
        />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('password') &&
            registrationForm.get('password')!.touched
          "
        >
          {{ translations.password_error }}
        </div>
      </div>
    </div>

    <div class="input">
      <label for="phone">Phone</label>
      <div class="text-container">
        <input type="phone" formControlName="phone" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('phone') && registrationForm.get('phone')!.touched
          "
        >
          {{ translations.phone_error }}
        </div>
      </div>
    </div>

    <div class="input">
      <label for="birthDate">Birth date</label>
      <div class="text-container">
        <input type="date" formControlName="birthDate" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('birthDate') &&
            registrationForm.get('birthDate')!.touched
          "
        >
          {{ translations.birthdate_error }}
        </div>
      </div>
    </div>

    <div *ngIf="registrationFailed">
      <p class="text-danger">
        {{ translations.user_exists_error }}
      </p>
    </div>

    <div class="buttons">
      <button
        class="cancel"
        type="button"
        (click)="closePopup()"
        routerLink="homePage"
      >
        {{ translations.close }}
      </button>
      <button
        class="proceed"
        type="submit"
        [disabled]="registrationForm.invalid"
      >
        {{ translations.register }}
      </button>
    </div>
  </form>
</div>
