<div class="loan-wrapper">
  <div class="message success" *ngIf="!isLoading && isSuccess">
    {{ responseMessage }}
  </div>
  <div class="message failure" *ngIf="!isLoading && isError">
    {{ responseMessage }}
  </div>
  <div class="loader-wrapper" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <div class="loan" *ngIf="!isLoading && !isSuccess && !isError">
    <h1>{{ translations.loan_form_title }}</h1>
    <div class="row">
      <label for="">{{ translations.your_card_label }}</label>
      <input type="text" placeholder="111111" disabled [(ngModel)]="userCard" />
    </div>
    <div class="row">
      <label for="">{{ translations.loan_type_label }}</label>
      <select [(ngModel)]="activeOption">
        <option *ngFor="let item of options" [ngValue]="item">
          {{ item.name }}
        </option>
      </select>
    </div>
    <div class="row">
      <form [formGroup]="amountForm">
        <label for="">{{ translations.loan_amount_label }}</label>
        <input
          type="number"
          formControlName="loanAmountInput"
          placeholder="10000"
        />
        <div
          *ngIf="
            amountForm.get('loanAmountInput')?.invalid &&
            (amountForm.get('loanAmountInput')?.dirty ||
              amountForm.get('loanAmountInput')?.touched)
          "
          class="error"
        >
          <div
            *ngIf="
              (amountForm.get('loanAmountInput')?.errors ?? {})['required']
            "
          >
            {{ translations.loan_amount_required_error }}
          </div>
          <div *ngIf="(amountForm.get('loanAmountInput')?.errors ?? {})['min']">
            {{ translations.loan_amount_min_error }}
          </div>
          <div *ngIf="(amountForm.get('loanAmountInput')?.errors ?? {})['max']">
            {{ translations.loan_amount_max_error }}
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <form [formGroup]="form">
        <label for="">{{ translations.number_of_rates_label }}</label>
        <input type="number" formControlName="numberInput" placeholder="12" />
        <div
          *ngIf="
            form.get('numberInput')?.invalid &&
            (form.get('numberInput')?.dirty || form.get('numberInput')?.touched)
          "
          class="error"
        >
          <div *ngIf="(form.get('numberInput')?.errors ?? {})['required']">
            {{ translations.rates_required_error }}
          </div>
          <div *ngIf="(form.get('numberInput')?.errors ?? {})['min']">
            {{ translations.rates_min_error }}
          </div>
          <div *ngIf="(form.get('numberInput')?.errors ?? {})['max']">
            {{ translations.rates_max_error }}
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <button class="cancel" (click)="return()">
        {{ translations.cancel_button }}
      </button>
      <button
        class="proceed"
        (click)="submitForm()"
        [disabled]="form.invalid || amountForm.invalid"
      >
        {{ translations.proceed_button }}
      </button>
    </div>
  </div>
</div>
