<div class="container">
  <label>{{ translations.search_label }}</label>
  <input
    type="text"
    [(ngModel)]="filterTable"
    placeholder="{{ translations.search_placeholder }}"
  />
  <button [routerLink]="['/user-list']" [queryParams]="{ bankId: bankId }">
    {{ translations.users_button }}
  </button>
  <button
    [routerLink]="['/loan-list']"
    [queryParams]="{ bankId: bankId }"
    style="margin-left: 10px"
  >
    {{ translations.loans_button }}
  </button>
</div>
<table class="transactionTable">
  <thead>
    <tr>
      <th>{{ translations.transaction_date }}</th>
      <th>{{ translations.amount }}</th>
      <th>{{ translations.purpose }}</th>
      <th>{{ translations.status }}</th>
      <th>{{ translations.sender_card }}</th>
      <th>{{ translations.receiver_card }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of filteredTransactions">
      <td>{{ transaction.transactionDate | date : "dd-MM-yyyy" }}</td>
      <td>
        {{ transaction.amount.toFixed(2) }}
        {{ transaction.currency }}
      </td>
      <td>{{ transaction.type }}</td>
      <td>{{ translations[transaction.status.toLowerCase()] }}</td>
      <td>{{ transaction?.senderCardId ?? "-" }}</td>
      <td>{{ transaction?.recieverCardId ?? "-" }}</td>
    </tr>
  </tbody>
</table>
