<div class="container">
  <label>{{ translations.search_label }}</label>
  <input
    type="text"
    [(ngModel)]="filterTable"
    placeholder="{{ translations.search_placeholder }}"
  />
  <button [routerLink]="['/user-list']" [queryParams]="{ bankId: bankId }">
    {{ translations.users_button }}
  </button>
  <button
    [routerLink]="['/loan-list']"
    [queryParams]="{ bankId: bankId }"
    style="margin-left: 10px"
  >
    {{ translations.loans_button }}
  </button>
</div>
<table class="transactionTable">
  <thead>
    <tr>
      <th>{{ translations.transaction_date }}</th>
      <th>{{ translations.amount }}</th>
      <th>{{ translations.purpose }}</th>
      <th>{{ translations.status }}</th>
      <th>{{ translations.sender_card }}</th>
      <th>{{ translations.receiver_card }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of filteredTransactions">
      <td>{{ transaction.transactionDate | date : "dd-MM-yyyy" }}</td>
      <td>
        {{ transaction.amount.toFixed(2) }}
        {{ transaction.currency }}
      </td>
      <td>{{ transaction.type }}</td>
      <td>{{ translations[transaction.status.toLowerCase()] }}</td>
      <td>{{ transaction?.senderCardId ?? "-" }}</td>
      <td>{{ transaction?.recieverCardId ?? "-" }}</td>
    </tr>
  </tbody>
</table>

<div class="pager">
  <svg
    id="Layer_1_1_"
    style="enable-background: new 0 0 16 16"
    version="1.1"
    viewBox="0 0 16 16"
    (click)="previousPage()"
  >
    <path
      d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M10.354,12.646l-0.707,0.707L4.293,8l5.354-5.354  l0.707,0.707L5.707,8L10.354,12.646z"
    />
  </svg>
  <p>{{ pageNumber }}</p>
  <svg
    id="Layer_1_1_"
    style="enable-background: new 0 0 16 16"
    version="1.1"
    viewBox="0 0 16 16"
    (click)="nextPage()"
  >
    <path
      d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M6.354,13.354l-0.707-0.707L10.293,8L5.646,3.354  l0.707-0.707L11.707,8L6.354,13.354z"
    />
  </svg>
</div>
