<div class="container">
  <div *ngIf="isExecute">
    <app-visualization type="transaction"></app-visualization>
  </div>
  <div class="transaction-success" *ngIf="transactionSuccessful && !isExecute">
    <p class="text-success">{{ translations.transaction_successful }}</p>
  </div>

  <form
    class="transaction"
    [formGroup]="transactionForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isExecute && !transactionSuccessful"
  >
    <div class="inputs">
      <div>
        <input
          type="text"
          [placeholder]="translations.placeholder_transfer_to"
          formControlName="recieverCardId"
        /><br />
      </div>
      <div>
        <input
          type="number"
          step="10"
          [placeholder]="translations.placeholder_amount"
          formControlName="amount"
        /><br />
      </div>
      <div>
        <input
          type="text"
          [placeholder]="translations.placeholder_purpose_of_payment"
          formControlName="type"
        /><br />
      </div>
    </div>
    <div class="buttons">
      <button (click)="goBack()">{{ translations.back }}</button>
      <button
        type="submit"
        (click)="onSubmit()"
        [disabled]="transactionForm.invalid"
      >
        {{ translations.submit_transaction }}
      </button>
    </div>

    <div class="error" *ngIf="unexpectedError">
      {{ translations.unexpected_error }}
    </div>
    <div class="error" *ngIf="insufficientFunds">
      {{ translations.insufficient_funds }}
    </div>
    <div class="error" *ngIf="transactionLimit">
      {{ translations.transaction_limit_exceeded }}
    </div>
  </form>
</div>
