<div class="container">
  <div *ngIf="isExecute">
    <app-visualization type="transaction"></app-visualization>
  </div>
  <div class="transaction-success" *ngIf="transactionSuccessful && !isExecute">
    <p class="text-success">Transaction successful</p>
  </div>

  <form
    class="transaction"
    [formGroup]="transactionForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isExecute && !transactionSuccessful"
  >
    <div class="inputs">
      <div>
        <input
          type="text"
          placeholder="Transfer to"
          formControlName="recieverCardId"
        /><br />
      </div>
      <div>
        <input
          type="number"
          step="10"
          placeholder="Amount"
          name="amount"
          formControlName="amount"
        /><br />
      </div>
      <div>
        <input
          type="text"
          name="type"
          placeholder="Purpose of payment"
          formControlName="type"
        /><br />
      </div>
    </div>
    <div class="buttons">
      <button (click)="goBack()">Back</button>
      <button
        type="submit"
        (click)="onSubmit()"
        [disabled]="transactionForm.invalid"
      >
        Submit Transaction
      </button>
    </div>

    <div class="error" *ngIf="unexpectedError">Unexpected error occured.</div>
    <div class="error" *ngIf="insufficientFunds">Insufficient funds .</div>
    <div class="error" *ngIf="transactionLimit">Transaction amount exceeds transaction limit.</div>

  </form>
</div>
