<div class="container">
  <div class="atm">
    <div class="heading">
      <div class="screen">
        <div class="stage1" *ngIf="stage1">
          <p id="title">{{ translations.welcome }}</p>
          <img src="../../../assets/logo.png" alt="" />
          <p></p>
        </div>
        <div class="stage2" *ngIf="stage2">
          <p>{{ translations.insert_pin }}</p>
          <img src="../../../assets/logo.png" alt="" />
          <form>
            <input
              type="password"
              name="pin"
              placeholder="0000"
              [value]="pin"
              maxlength="4"
              autocomplete="off"
            />
          </form>
        </div>
        <div class="stage3" *ngIf="stage3">
          <p>{{ translations.select_option }}</p>
          <button (click)="showBalance()">
            {{ translations.check_balance }}
          </button>
          <button (click)="showDeposit()">{{ translations.deposit }}</button>
          <button (click)="showWithdrawal()">
            {{ translations.withdrawal }}
          </button>
        </div>
        <div class="stageBalanceCheck" *ngIf="stageBalanceCheck">
          <p>{{ translations.your_balance }}</p>
          <p>{{ balance }}</p>
          <button (click)="return()">{{ translations.return }}</button>
        </div>
        <div class="stageDeposit" *ngIf="stageDeposit">
          <p>{{ translations.deposit_question }}</p>
          <input
            type="text"
            name="depositAmount"
            placeholder="0.00"
            [value]="depositAmount"
            maxlength="10"
            autocomplete="off"
          />
        </div>
        <div class="stageWithdrawal" *ngIf="stageWithdrawal">
          <p>
            {{ translations.withdraw_question }}
          </p>
          <input
            type="text"
            name="withdrawalAmount"
            placeholder="0.00"
            [value]="withdrawalAmount"
            maxlength="10"
            autocomplete="off"
          />
        </div>

        <div class="stage1" *ngIf="stageThank">
          <p>{{ translations.operation_success }}</p>
          <p id="title">{{ translations.thank_you_message }}</p>
          <img src="../../../assets/logo.png" alt="" />
        </div>
        <div class="stage1" *ngIf="stageError">
          <p id="title">{{ errorMessage }}</p>
          <img src="../../../assets/logo.png" alt="" />
        </div>
        <div class="visualization" *ngIf="stageTransaction">
          <app-visualization [type]="transactionType"></app-visualization>
        </div>
      </div>
      <div class="card-input">
        <label for="cardNumber">{{ translations.insert_card_number }}</label>
        <input
          type="text"
          name="cardNumber"
          placeholder="00 00 00"
          [value]="cardNumber"
          maxlength="19"
          autocomplete="off"
        />
        <button (click)="checkCard()">{{ translations.proceed }}</button>
      </div>
    </div>
    <div class="inputs">
      <div class="numbers-grid">
        <div *ngFor="let n of inputs" class="input" (click)="inputNumber(n)">
          {{ n }}
        </div>
      </div>
      <div class="specials">
        <div
          *ngFor="let n of specials"
          class="input"
          (click)="handleSpecial(n)"
        >
          {{ n }}
        </div>
      </div>
    </div>
    <img src="../../../assets/logo.png" alt="" id="main-logo" />
  </div>
</div>
