<div class="overlay" (click)="closeModal()"></div>
<div class="bank-form" disabled>
  <div class="loader-wrapper" *ngIf="isLoading && !success">
    <app-loader></app-loader>
  </div>
  <ng-container *ngIf="!isLoading && !success">
    <h3>
      {{ translations.opening_account.replace('{{ selectedBank.name }}',
      selectedBank.name) }}
    </h3>
    <div class="image-wrapper">
      <img [src]="selectedBank.image" alt="" />
    </div>

    <div class="registration-info">
      <div class="option">
        <label for="deposit">{{ translations.initial_deposit }}</label>
        <input
          type="number"
          placeholder="0.00"
          name="deposit"
          [(ngModel)]="amount"
        />
      </div>
      <div class="option">
        <label>{{ translations.card_type }}</label>
        <select [(ngModel)]="selectedCard">
          <option *ngFor="let option of cardOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="option">
        <label>{{ translations.currency }}</label>
        <select [(ngModel)]="selectedCurrency">
          <option *ngFor="let option of currencyOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="btn-wrap">
      <button (click)="register()">{{ translations.register }}</button>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading && success">
    <div class="added">
      <p>{{ translations.account_success }}</p>
      <div class="btn-return">
        <button (click)="return()">{{ translations.return_to_banks }}</button>
      </div>
    </div>
  </ng-container>
</div>
