<div class="imageWrapper">
  <div class="account-status">
    <p>{{ translations.account_status }}</p>
    <div>
      <p>{{ cardInfo?.status }}</p>
      <img [src]="getStatus()" alt="" />
    </div>
  </div>
  <h2>{{ translations.payment_information }}</h2>
  <img src="../../assets/images/bankist_card.jpg" class="image" />

  <div class="textWrapper">
    <p>
      {{ cardInfo?.cardTypeId }} <b>{{ cardInfo?.cardNumber }}</b>
    </p>
    <p>
      {{ translations.exp_date
      }}<b id="expirationDate">
        {{ cardInfo?.expirationDate | date : "MM/yyyy" }}</b
      >
    </p>
  </div>
</div>

<div class="balance" *ngIf="cardInfo">
  <div class="balance__detail">
    <p class="balance__bank">{{ cardInfo.bankId }}</p>
    <p class="balance__label">
      {{ translations.current_balance }} {{ cardInfo.amount.toFixed(2) }}
      {{ cardInfo?.currencyId }}
    </p>

    <p class="balance__date">
      <span class="date">{{ today | date : "dd/MM/yyyy" }}</span>
    </p>
  </div>
</div>

<div *ngIf="!cardInfo">
  <p>{{ translations.card_info_not_available }}</p>
</div>

<div class="container">
  <div class="option">
    <button
      class="transfer"
      [routerLink]="['/transaction', cardInfo?.cardNumber]"
    >
      {{ translations.transfer_money }}
    </button>
    <button class="loan" [routerLink]="['/active-loans', cardInfo?.cardNumber]">
      {{ translations.loan }}
    </button>
    <button class="close" (click)="showDiv()">
      {{ translations.close_account }}
    </button>
    <button
      class="another_card"
      [routerLink]="['/bank-selection', { username: this.username }]"
    >
      {{ translations.choose_another_card }}
    </button>
  </div>

  <table id="transactionTable" *ngIf="transactions">
    <thead>
      <tr>
        <th>{{ translations.date }}</th>
        <th>{{ translations.amount }}</th>
        <th>{{ translations.purpose }}</th>
        <th>{{ translations.status }}</th>
        <th>{{ translations.sender_card }}</th>
        <th>{{ translations.receiver_card }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.transactionDate | date : "dd/MM/yyyy" }}</td>
        <td>
          {{ transaction.amount.toFixed(2) }}
          <span
            *ngIf="
              transaction.type !== 'Silver status award' &&
              transaction.type !== 'Gold status award' &&
              transaction.type !== 'Platinum status award' &&
              transaction.type !== 'Loan' &&
              transaction.type !== 'Rate'
            "
          >
            {{ transaction.senderCard.currency.currencyCode }}
          </span>
          <span
            *ngIf="
              transaction.type === 'Silver status award' ||
              transaction.type === 'Gold status award' ||
              transaction.type === 'Platinum status award' ||
              transaction.type === 'Loan' ||
              transaction.type === 'Rate'
            "
          >
            {{ transaction.recieverCard.currency.currencyCode }}
          </span>
        </td>

        <td>{{ transaction.type }}</td>
        <td>{{ transaction.status }}</td>
        <td>{{ transaction?.senderCardId ?? "-" }}</td>
        <td>{{ transaction.recieverCardId }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pager">
  <svg
    id="Layer_1_1_"
    style="enable-background: new 0 0 16 16"
    version="1.1"
    viewBox="0 0 16 16"
    (click)="previousPage()"
  >
    <path
      d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M10.354,12.646l-0.707,0.707L4.293,8l5.354-5.354  l0.707,0.707L5.707,8L10.354,12.646z"
    />
  </svg>
  <p>{{ pageNumber }}</p>
  <svg
    id="Layer_1_1_"
    style="enable-background: new 0 0 16 16"
    version="1.1"
    viewBox="0 0 16 16"
    (click)="nextPage()"
  >
    <path
      d="M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M6.354,13.354l-0.707-0.707L10.293,8L5.646,3.354  l0.707-0.707L11.707,8L6.354,13.354z"
    />
  </svg>
</div>

<div class="confirm" *ngIf="isDeleteDiv">
  <span>{{ translations.confirm_close_account }}</span>
  <div>
    <input
      type="text"
      [(ngModel)]="deleteReason"
      placeholder="{{ translations.enter_reason }}"
    />
  </div>

  <div class="buttons">
    <button class="yes" (click)="closeAccount()">
      {{ translations.confirm }}
    </button>
    <button class="cancel" (click)="cancelDelete()">
      {{ translations.cancel }}
    </button>
  </div>
</div>

<ng-container *ngIf="isAccountDeleted">
  <div class="deleteAccount">
    <p>{{ translations.account_closed_successfully }}</p>
  </div>
</ng-container>
