<nav id="navbar">
    <div>
        <a class="options" href="#" routerLink="/userTransactionList">List of Transactions</a>
        <a class="options" href="#" routerLink="/transaction">Transaction</a>
        <a class="options" href="#">Settings</a>
    </div>

</nav>

<div class="imageWrapper">
    <h2>Payment information</h2>
    <img src="../../assets/images/bankist_card.jpg" class="image">

    <div class="textWrapper">
        <p> {{ cardInfo?.cardTypeId }} <b>{{ cardInfo?.cardNumber}}</b></p>
        <p>Exp. date:<b id="expirationDate"> {{ cardInfo?.expirationDate | date : 'MM/yyyy' }}</b></p>
    </div>

</div>

<div class="balance" *ngIf="cardInfo">
    <div class="balance__detail">
        <p class="balance__bank">{{ cardInfo.bankId }}</p>
        <p class="balance__label">Current balance: {{ cardInfo.amount.toFixed(2) }} {{ cardInfo?.currencyId }}</p>

        <p class="balance__date">
            <span class="date">{{ today | date : 'dd/MM/yyyy' }}</span>
        </p>
    </div>
</div>

<div *ngIf="!cardInfo">
    <p>Card information not available</p>
</div>


<div class="container">
    <div class="option">
        <button class="transfer" [routerLink]="['/transaction', cardInfo?.cardNumber]"> Transfer Money </button>
        <button class="loan"> Loan </button>
        <button class="close"> Close account </button>
        <button class="another_card" [routerLink]="['/bank-selection']"> Choose another card </button>
    </div>

    <table id="transactionTable" *ngIf="transactions">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Purpose</th>
                <th>Status</th>
                <th>Sender Card</th>
                <th>Receiver Card</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{ transaction.transactionDate | date : 'dd/MM/yyyy' }}</td>
                <td>{{ transaction.amount }} {{cardInfo?.currencyId}}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.status }}</td>
                <td>{{ transaction.senderCardId }}</td>
                <td>{{ transaction.recieverCardId }}</td>
            </tr>
        </tbody>
    </table>
</div>