<div class="container">
  <div *ngIf="isSending"><app-loader></app-loader></div>
  <div
    class="registration-success"
    *ngIf="registrationSuccessful && !isSending"
  >
    <p class="text-success">Registration successful</p>
    <button routerLink="../login">Log in</button>
  </div>
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isSending && !registrationSuccessful"
  >
    <div class="input">
      <label for="firstName">First Name</label>
      <div class="text-container">
        <input type="text" formControlName="firstName" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('firstName') &&
            registrationForm.get('firstName')!.touched
          "
        >
          First name must start with an uppercase letter.
        </div>
      </div>
    </div>

    <div class="input">
      <label for="lastName">Last Name</label>
      <div class="text-container">
        <input type="text" formControlName="lastName" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('lastName') &&
            registrationForm.get('lastName')!.touched
          "
        >
          Last name must start with an uppercase letter.
        </div>
      </div>
    </div>

    <div class="input">
      <label for="email">Email Address</label>
      <div class="text-container">
        <input type="text" formControlName="email" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('email') && registrationForm.get('email')!.touched
          "
        >
          Email is required and must be a valid email address.
        </div>
      </div>
    </div>

    <div class="input">
      <label for="username">Username</label>
      <div class="text-container">
        <input type="text" formControlName="username" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('username') &&
            registrationForm.get('username')!.touched
          "
        >
          Username is required.
        </div>
      </div>
    </div>

    <div class="input">
      <label for="password">Password</label>
      <div class="text-container">
        <input
          type="password"
          formControlName="password"
          class="form-control"
        />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('password') &&
            registrationForm.get('password')!.touched
          "
        >
          Password is required and must be at least 8 characters, one uppercase
          letter, one number, and one special character.
        </div>
      </div>
    </div>

    <div class="input">
      <label for="phone">Phone</label>
      <div class="text-container">
        <input type="phone" formControlName="phone" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('phone') && registrationForm.get('phone')!.touched
          "
        >
          Phone is required and must contain only numbers, 9 or 10 digits.
        </div>
      </div>
    </div>

    <div class="input">
      <label for="birthDate">Birth date</label>
      <div class="text-container">
        <input type="date" formControlName="birthDate" class="form-control" />
        <div
          class="error"
          *ngIf="
            isFieldInvalid('birthDate') &&
            registrationForm.get('birthDate')!.touched
          "
        >
          Birth date is required.
        </div>
      </div>
    </div>

    <div *ngIf="registrationFailed">
      <p class="text-danger">
        User already exists with the same username or email
      </p>
    </div>

    <div class="buttons">
      <button
        class="cancel"
        type="button"
        (click)="closePopup()"
        routerLink="homePage"
      >
        Close
      </button>
      <button
        class="proceed"
        type="submit"
        [disabled]="registrationForm.invalid"
      >
        Register
      </button>
    </div>
  </form>
</div>
